/* This looks significantly worse? Not sure what went wrong here */

.menu {
  margin: 0;
  padding: 100px;
  background-color: #ffffff;
  background-image: url("../images/background_menu.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.menu__title {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #000000;
  margin: 0 0 24px 0;
  max-width: 780px;
}

.menu__subtitle {
  font-family: "Noto Serif", serif;
  font-size: 20px;
  line-height: 30px;
  color: #000000;
  margin: 0 0 100px 0;
  max-width: 780px;
}

.menu__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 100px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 540px;
}


